#scamAlert{
  background-color: red;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}

/* 20 years badge */
.twenty {
  z-index: 999;
  position: absolute;
  right: 19%;
  top: 2%;  /* Revert back to .7 when scamAlert is removed */
  transform: rotate(10deg);
}
@media (max-width: 500px) {
  .twenty {
    right: 14%;
    width: 14%;
    height: auto;
  }
}

.rotator {
  background-color: #fff;
  max-width: 1080px;
  margin: 0 auto;
  font-family: Arial, Helvetica;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  display: flex;
}

.rotator .head h1 {
  font-size: 2rem !important;
  text-align: center;
  color: #ffffff;
}

.rotator ul {
  list-style: none;
  margin: 0;
  padding-top: 6px;
  z-index: 999;
  position: sticky;
  top: 5px;
  align-self: baseline;
}

.rotator ul li {
  display: block;
  width: auto;
}

.rotator ul li a {
  width: 230px;
  float: right;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  line-height: 10px;
  background-color: #222;
  margin: 1px 0px 3px 0;
  opacity: 0.7;
  color: #f0f0f0;
  font-size: 20px;
  border: 2px solid #000;
  border-right: none;
  outline: none;
  text-shadow: -1px 1px 1px #000;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.rotator ul li a:hover {
  text-shadow: 0 0 2px #fff;
}

.rotator ul li .link1:hover + .data1 {
  color: red;
}

.rotator .data1,
.rotator .data2,
.rotator .data3,
.rotator .data4,
.rotator .data5 {
  transition: all 0.5s ease;
  opacity: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.rotator .data1 .head h1,
.rotator .data2 .head h1,
.rotator .data3 .head h1,
.rotator .data4 .head h1,
.rotator .data5 .head h1 {
  text-shadow: -1px 1px 1px #555;
  font-weight: normal;
  font-size: 46px;
  padding: 20px;
}

.rotator .data1 .descr,
.rotator .data2 .descr,
.rotator .data3 .descr,
.rotator .data4 .descr,
.rotator .data5 .descr {
  padding: 20px;
  background-color: #222;
  border-radius: 0 10px 0 0;
  /* opacity: 0.9; */
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.rotator .data1 .descr {
  padding: 20px;
  background-color: #222;
  border-radius: 0 10px 0 0;
  opacity: 0.9;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}
.rotator .data1 .descr p,
.rotator .data2 .descr p,
.rotator .data3 .descr p,
.rotator .data4 .descr p,
.rotator .data5 .descr p {
  text-shadow: -1px 1px 1px #000;
  text-transform: none;
  letter-spacing: normal;
  line-height: 26px;
}

.rotator .data1 .descr a.more,
.rotator .data2 .descr a.more {
  color: orange;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
}

.rotator .data1 .descr a.more:hover,
.rotator .data2 .descr a.more:hover {
  color: #fff;
}

.rotator .data1 {
  background-color: blue;
}

.rotator .data2 {
  background-color: blue;
}
.rotator .data3 {
  background-color: blue;
}
.rotator .data4 {
  background-color: blue;
}
.rotator .data5 {
  background-color: blue;
}

.rotator .active {
  opacity: 1;
  transition: all 0.5s ease;
}

.descr ul li {
  justify-self: center;
  font-size: 1.1em;
  margin-bottom: 0.9em;
  width: 100%;
}
.descr strong {
  line-height: 2rem;
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="phno"],
input[type="password"],
textarea {
  background-color: #fff;
}

.descr {
  display: flex;
  flex-wrap: wrap;
}
.data1 .descr p:nth-child(1) {
  flex: 1;
}
.thumb {
  width: 192px;
  height: 145px;
}
.thumb:hover {
  cursor: pointer;
}
figure {
  margin: 0;
}
.data1 img:hover,
.data1 img:hover + figcaption {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
figcaption {
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
  margin-top: 0.1em;
}
/* Style for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 35%;
  top: 15%;
  width: auto;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: auto;
  z-index: 9999;
}

/* Style for the modal content */
.modal-content {
  display: block;
  max-width: 90%;
  max-height: 90%;
  margin: 0 auto;
}

/* Style for the close button */
.close {
  position: absolute;
  top: 15px;
  left: 0.5em;
  font-size: 14px;
  font-weight: bold;
  color: rgb(248, 243, 243);
  cursor: pointer;
}
#modalImage {
  transform: none;
}
/* List effects */

#list li {
  opacity: 0;
}
.rotator img {
  border-radius: 10px;
  margin: 0 auto;
}
#list {
  text-align: center;
}
#list li {
  text-align: center;
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex !important;
  justify-content: space-between;
  margin-bottom: 25px;
}
.responsive-table .table-header {
  background-color: #3223d3;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}
.responsive-table .table-row:hover {
  background-color: #20060b;
}
.responsive-table .table-row {
  background-color: #3223d3;
  color: #fff;
}
.responsive-table .col1 {
  flex-basis: 50%;
}
.responsive-table .col2 {
  flex-basis: 10%;
}
.responsive-table .col3 {
  flex-basis: 10%;
}
.responsive-table .col4 {
  flex-basis: 10%;
}
.responsive-table .col5 {
  flex-basis: 10%;
}
.responsive-table .col2,
.responsive-table .col3,
.responsive-table .col4,
.responsive-table .col5 {
  text-align: center;
  font-weight: bold;
}
@media (max-width: 767px) {
  .responsive-table .table-header {
    display: none !important;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  /* .responsive-table .col:before {
      color: #ffffff;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
      text-decoration: underline;
    } */
  .div.col.col1 {
    display: none;
  }
}
.descr h2 {
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
}
.ive-button-_c2c369-51 {
  background-color: #ffffff;
}
.data5 .ive-button-_c2c369-51:hover {
  background-color: #3223d3;
  color: #ffffff;
}

/* ProactiveIT-->Packages */

@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}
* {
  box-sizing: border-box;
}
/* html, body {
	 height: 100%;
}
 body {
	 display: grid;
	 place-items: center;
} */
.page-content {
  display: flex;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1080px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}
.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url(https://pc-nm.com/wp-content/uploads/2023/09/im1.jpg);
}
.card:nth-child(2):before {
  background-image: url(https://pc-nm.com/wp-content/uploads/2023/09/im2.jpg);
}
.card:nth-child(3):before {
  background-image: url(https://pc-nm.com/wp-content/uploads/2023/09/im3.jpg);
}
.card:nth-child(4):before {
  background-image: url(https://pc-nm.com/wp-content/uploads/2023/09/im4.jpg);
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 0.8rem;
}
.card .title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-size: 0.8rem;
}
.card button {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
}
.card button:hover {
  background-color: #0d0d0d;
  color: #ffffff;
}
.card button:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}
@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }
  .content {
    height: 300px;
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }
  .card:hover,
  .card:focus-within {
    align-items: center;
  }
  .card:hover:before,
  .card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
  .card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
  .card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }
  .card:focus-within:before,
  .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}
.accordian {
  max-width: 1080px;
}
.hidethis {
  display: none;
}
.popout {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  transition: all 0.25s;
  transition-timing-function: easy-in;
  margin: 10px 0px 10px 0px;
  &.close {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin: 0px 40px;
    .title {
      background: blue;
    }
    .text {
      max-height: 0px;
      padding: 0px 20px;
    }
  }
  .title {
    background: blue;
    color: #ffffff;
    padding: 0px 20px;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.25s;
    transition-timing-function: easy-in;
    user-select: none;
    font-size: 17px;
    margin-bottom: 2px;
    border-radius: 5px;
  }
  .text {
    color: #000000;
    background-color: #fff;
    transition: all 0.25s;
    transition-timing-function: easy-in;
    overflow: hidden;
    padding: 20px;
  }
}
.accordian .close {
  position: relative;
  float: none;
}
.popout .title::after {
  content: "Read More";
  float: right;
  font-style: italic;
  font-size: 0.8rem;
}

/* Styles for Web Development page  */

.page-id-1422 h2:first-child{
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #3223d3;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#topBtn:hover {
  background-color: #555;
}

.nav,
.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  padding: 0 2em;
}

.nav h1,
.slider h1 {
  font-size: 2vw;
  margin: 0;
  padding-bottom: 0.5rem;
  letter-spacing: 0.5rem;
  color: #3223d3;
  transition: all 0.3s ease;
  z-index: 3;
}
.nav h1{
  font-weight:bold;
}
h1:hover {
  transform: translate3d(0, -10px, 22px);
  color: red;
}

.slider h2 {
  font-size: 1vw!important;
  letter-spacing: 0.3rem;
  font-family: "ROBOTO", sans-serif;
  font-weight: 300;
  color: #000000;
  z-index: 4;
}
h3.span {
  font-size: 1vw;
  letter-spacing: 0.7em;
  font-family: "ROBOTO", sans-serif;
  font-weight: 500;
  color: #faebd7;
  z-index: 4;
}

a {
  text-decoration: none;
}

.nav-container {
  display: flex;
  flex-direction: row;
  bottom: 0;
  width: 100%;
  /* height: 75px; */
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: #3223d3;
  z-index: 10;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-first {
  position: fixed;
  top: 75px;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

/* .nav-container--top-second {
  position: fixed;
  top: 0;
} */
.nav-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #ffffff;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 1vw;
}

.nav-tab:hover {
  color: #3223d3;
  background: #fff;
  transition: all 0.5s ease;
}

.nav-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #03dac6;
  transition: left 0.1s ease;
}
.background {
  position: absolute;
  height: 90vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: auto;
}
@media (min-width: 800px) {
  .nav h1,
  .slider h1 {
    font-size: 2vw;
  }

  .nav h2,
  .slider h2 {
    font-size: 1vw;
  }

  .nav-tab {
    font-size: 1vw;
  }
}

@media screen only (min-width: 360px) {
  .nav h1,
  .slider h1 {
    font-size: 8vw;
  }

  .nav h2,
  .slider h2 {
    font-size: 2vw;
    letter-spacing: 0.2vw;
  }

  .nav-tab {
    font-size: 1.2vw;
  }
}
.background {
  position: absolute;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.loader span {
  color: #3223d3;
  text-shadow: 0 0 0 #d61111;
  -webkit-animation: loading 1s ease-in-out infinite alternate;
}

@-webkit-keyframes loading {
  to {
    text-shadow: 20px 0 70px red;
    color: red;
  }
  /* Specify the duration of the animation */
  animation-duration: .5s; /* Change the value to slow down or speed up the animation */
  animation-timing-function: linear; /* Change the timing function if needed */
}

.loader span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}
.loader span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}
.loader span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}
.loader span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}
.loader span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
}
.loader span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
}
.loader span:nth-child(8) {
  -webkit-animation-delay: 0.7s;
}
.loader span:nth-child(9) {
  -webkit-animation-delay: 0.8s;
}

.loader span:nth-child(10) {
  -webkit-animation-delay: 0.9s;
}
.loader span:nth-child(11) {
  -webkit-animation-delay: 1s;
}
.loader span:nth-child(12) {
  -webkit-animation-delay: 1.1s;
}
.loader span:nth-child(13) {
  -webkit-animation-delay: 1.2s;
}
.loader span:nth-child(14) {
  -webkit-animation-delay: 1.3s;
}
.loader span:nth-child(15) {
  -webkit-animation-delay: 1.4s;
}
.loader span:nth-child(16) {
  -webkit-animation-delay: 1.5s;
}
.loader span:nth-child(17) {
  -webkit-animation-delay: 1.6s;
}
.loader span:nth-child(18) {
  -webkit-animation-delay: 1.7s;
}
.loader span:nth-child(19) {
  -webkit-animation-delay: 1.8s;
}
.loader span:nth-child(20) {
  -webkit-animation-delay: 1.9s;
}
.loader span:nth-child(21) {
  -webkit-animation-delay: 2s;
}
.loader span:nth-child(22) {
  -webkit-animation-delay: 2.1s;
}

